@{
    ViewBag.Title = "Index";
}

<h1>Page title</h1>

<div class="row">
    <div class="span-12">
        Do cool things here for user : @ViewBag.UserName
        <h2>Lists</h2>
        @{Html.RenderPartial("TaskList");}
    </div>
</div>